@model LoginViewModel
@{
    ViewData["Title"] = "登录";
}

<div style="max-width: 450px; top: calc(50% - 182.5px); position: absolute; right: 0px; left: 0px; margin: auto;">
  <div style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 2rem; background-color: transparent; border-radius: 0.25rem">
    <div class="row">
      <div class="col-md-12 order-md-1 bg-light">
        <form asp-action="Login" class="px-lg-4 py-md-4 py-lg-4">
          @Html.AntiForgeryToken()
          <div class="mb-2 text-center">
            <p class="font-size-h1 font-w700">
              <span class="text-dark">SnapGenshin后台管理</span>
            </p>
            <p class="text-uppercase font-w700 font-size-sm text-muted">Powered by snapgenshin.com ©2022-now</p>
          </div>
          <div class="form-group">
            <input asp-for="UserName" type="text" class="form-control" id="floatingInput" placeholder="用户名">
          </div>
          <div class="form-group">
            <input asp-for="Password" type="password" class="form-control" id="floatingInput" placeholder="密码">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              <span>登录</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
